@import url(./../components/Preview/Preview.css);
@import url(./../components/Player/Player.css);
@import url(./../components/Options/Options.css);
@import url(./../components/Description/Description.css);

.main {
  padding: 20px 0 40px 0;
  flex: 1 1 auto;
}

.video {
  width: 100%;
}

.game-field {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.game-button-next {
  pointer-events: visible;
  grid-column: 1/3;
  padding: 10px 0;
  border: 1px solid #555;
  border-radius: 5px;
  color: #e2dddd;
  background: rgb(63, 62, 62);
  transition: all 0.5s;
  cursor: pointer;
}

.game-button-next:active {
  border: 1px solid #777;
}

.game-button-next:not([disabled='true']) {
  background-color: #00bc8c;
}
